.vcenter{
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.barraPrincipal{
	background-color: #205081;
	//max-height: 70px;
}

.titulo{
    font-size: 42px;
    font-weight: bold;
    color: #ffffff;
}

.wellUser
{
	background-color: #1F5A91;
	background-image: none;
	border: 1px solid #1C4A75;
	color: #ffffff;
    height: 50px;
    margin-bottom: 0px;
    padding: 9px;
}

.userIcon
{
    color: #FFFFFF;
    font-size: 24px;
    border-right: 1px solid #205081;
    margin-left: -1px;
    height: 25px;
}